*.iml
.gradle
/local.properties
/keystore.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
app/build
app/release
app/kotzilla.json
/app/src/main/assets/kotzilla.key
mirailink-keystore.jks
app-release.apk
app-release.aab