*.iml
.gradle
/local.properties
/keystore.properties
local.properties
keystore.properties
.idea/
.idea
*.backup
*.bak
application*.backup
*.jks
*.keystore
mirailinkkeystore.jks
mirailink-keystore.jks
app/mirailink-keystore.jks
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/release
app/kotzilla.json
/app/src/main/assets/kotzilla.key
app-release.apk
app-release.aab